*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #454372;
}
body{
    background-color: #70877F;
    align-items: center;
    display: flex;
    justify-content: center;
}
.wrapper1{
    border: 5px solid;
    border-color: #C4A77D;
    display: block;
    padding: 10%;
    border-radius: 10px; 
}
.wrapper1 > p{
    font-size: 50px;
}
.button-container > button{
    width: 45%;
    height: 30%;
    background-color: #C4A77D;
    border: none;
    border-radius: 5px;
}
.grid{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.griditem{
    background-color: #C4A77D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color :#454372;
    border-right: 2px solid;
    border-bottom: 2px solid;
    padding: 20px;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 30px;
}
.grid>div:hover{
    background-color: #EF946C;
}
.griditem:nth-child(3n){
    border-right: none;
}
.griditem:nth-child(6) ~ .griditem{
    border-bottom: none;
}
